/* TP Hero @font-face */
/**
 * TP Hero
 **/
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-Light-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-Light-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-Light-webfont.svg#tp_herolight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-LightItalic-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-LightItalic-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-LightItalic-webfont.svg#tp_herolight_italic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-Regular-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-Regular-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-Regular-webfont.svg#tp_heroregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-RegularItalic-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-RegularItalic-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-RegularItalic-webfont.svg#tp_heroregular_italic") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-Bold-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-Bold-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-Bold-webfont.svg#tp_herobold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-BoldItalic-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-BoldItalic-webfont.svg#tp_herobold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-SemiBold-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-SemiBold-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-SemiBold-webfont.svg#tp_herosemibold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'TPHero';
  src: url("../fonts/tphero/TPHero-SemiBoldItalic-webfont.woff") format("woff"), url("../fonts/tphero/TPHero-SemiBoldItalic-webfont.ttf") format("truetype"), url("../fonts/tphero/TPHero-SemiBoldItalic-webfont.svg#tp_herosemibold_italic") format("svg");
  font-weight: 700;
  font-style: italic; }

/*# sourceMappingURL=font.css.map */
