body {
  font-family: "TPHero" !important; }

.sapUiBody {
  width: 85%;
  height: 100% !important;
  margin: auto; }

.sapMFlexItem {
  margin-right: 10px; }

input.sapMInputBaseInner {
  color: #979797;
  border-radius: 5px;
  border: 1px solid #979797;
  font-size: 12px;
  height: 30px;
  margin-top: 4px;
  font-family: TPHero; }

.sapUiLbl {
  font-family: TPHero,Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #444444; }

/* common file css*/
.qty {
  font-weight: normal !important;
  color: #666666 !important;
  font-size: 0.875rem !important; }

#prodToolBar {
  background-color: white;
  border-top: 0px; }

#saveConfigBtn {
  background-color: #008945;
  color: #fff;
  padding: 10px;
  border: 0px;
  font-family: TPHero;
  height: 35px;
  width: 150px; }

#cancelBtn {
  background-color: #C0BFBD;
  color: #fff;
  padding: 10px;
  border: 0px;
  font-family: TPHero;
  height: 35px;
  width: 150px; }

.sapUiTableColCell > .sapUiLbl {
  font-family: TPHero;
  font-size: 12px; }

/* Product Configuration Styling */
.rootPanel .sapMLabel.sapMLabelTBHeader {
  marginright: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: TpHero, Arial,Helvetica,sans-serif;
  text-shadow: 0 1px 0 #ffffff;
  color: #00C425; }

.childPanel {
  padding-left: 20px;
  padding-top: 25px; }
  .childPanel .sapMLabel.sapMLabelTBHeader {
    margin-right: 1rem;
    font-weight: normal;
    color: #666666;
    font-size: 0.875rem;
    font-family: TpHero, Arial,Helvetica,sans-serif;
    text-shadow: none; }
  .childPanel .sapMPanelWrappingDivTb {
    background-color: #E8E7E5; }

#configurepage {
  width: 80%;
  margin: auto;
  margin-top: 5px; }

.rootPanel .sapMPanelContent {
  padding-left: 30px;
  border-bottom: 0px; }
  .rootPanel .sapMPanelContent table {
    margin-left: 20px; }

.childPanel .sapMPanelContent {
  border-bottom: 0px; }

.sapUiTableCCnt {
  height: 210px;
  width: 100%; }

.sapMSplitContainer {
  height: 93% !important; }

.sapUiTableCtrlEmptyMsg {
  font-size: 16px;
  font-family: TPHero; }

.sapMComboBoxBasePressed > .sapMComboBoxBaseArrow {
  width: 30px;
  height: 29px;
  margin-top: 3px;
  line-height: 1.9rem;
  border: 1px solid rgba(222, 222, 222, 0.5);
  border-radius: 5px; }

.sap-desktop .sapMComboBoxBasePressed > .sapMComboBoxBaseArrow:hover, .sap-desktop .sapMComboBoxBaseArrow:not(.sapMComboBoxBasePressed):hover {
  width: 30px;
  height: 29px;
  margin-top: 3px;
  line-height: 1.9rem;
  border: 1px solid rgba(222, 222, 222, 0.5);
  border-radius: 5px; }

li.sapMComboBoxBaseItem {
  height: 1.75rem; }

.sapMDP > .sapUiIcon, .sapMDP.sapMInputIE9 > .sapUiIcon {
  height: 2.0rem;
  width: 2.0rem;
  line-height: 2.0rem; }

/*# sourceMappingURL=main.css.map */
