.sapUiBody, .sapUiBodyBackground, .sapUiBody, .sapUiUfdShellBackground, .sapMGlobalBackgroundColor {
  background-image: none;
}

.sapUiBody {
  .sapMStdTileIconDiv {
    color: #00C425;
  }
  .sapMStdTileTitle {
    color: #008AC9;
    line-height: 1.2rem;
    font-size: 1.8rem;
    height: 5rem;
    margin-bottom: 0;
    width: 195px;
  }
  .sapMStdTileIconDiv span {
    font-size: 2.3rem !important;
  }
  .sapMTile {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
  }
  .sapMTileContent {
    width: 13.5rem;
  }
  .sapMStdTileTitle {
    overflow: visible;
  }
  .sapMStdTileInfo {
    height: 1.5rem;
    font-size: 0.95rem;
    width: 100%;
    margin-top: -10px;
    text-align: left;
  }
  .sapMStdTileBottomRow {
    height: 5rem;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .sapMLabel {
    color: #666666;
    font-size: 0.85rem;
    font-family: TPHero, Arial,Helvetica,sans-serif;
    font-weight: normal;
  }
  .sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: white;
  }
}

#lexmarkFooter {
  background-color: white;
  text-shadow: none;
  color: #00C425;
  border: none;
}

.sapUiHLayoutChildWrapper {
  height: 50px;
}

.sapMShellBrandingBar {
  background-color: #fff;
}

.sapMSplitContainerMaster {
  display: none;
}

.sapUiTableCtrl tr.sapUiTableRowSel > td, .sapUiTableRowHdr.sapUiTableRowSel {
  background-color: #eee !important;
}

#lexmarkHeader {
  width: 98% !important;
  height: 7%;
  .header {
    padding-top: 0.5%;
    border-top: 3px solid #3ED35A;
  }
}

.productSearch input {
  font-family: TPHero;
}

#productsTable .sapUiTableFtr {
  padding: 0px !important;
  border: 0px !important;
}

#busyDialog-cont {
  padding: 13%;
  padding-left: 25%;
}

.configCompleteIcon {
  width: 5px;
  color: #3ED35A;
  padding-bottom: 2px;
  font-size: 12px;
}

.configIncompleteIcon {
  width: 5px;
  color: #FC0000;
  padding-bottom: 2px;
  font-size: 12px;
}

.configIncompleteText {
  margin-top: 4px;
  font-weight: normal !important;
  color: #666666 !important;
  font-size: 0.875rem !important;
}

.costAlign {
  text-align: right !important;
}