body, html {
  background: #FFF;
  font-family: "TPHero" !important;
}

.homePage {
  background: #FFF;
  font-family: "TPHero" !important;
  height: 873px;
  #customerInformation-hdr {
    border-bottom: none;
  }
}

.createQuoteView {
  padding-top: 12px;
  .fieldLabel {
    font-weight: bold !important;
    font-family: "TPHero" !important;
    margin-bottom: -12px;
    font-size: 12px !important;
  }
}

.customerInformationTitle .custInfoText {
  color: #3ED35A !important;
  font-weight: normal !important;
  font-size: 18px !important;
  font-family: "TPHero" !important;
}

.todoInput {
  padding-left: 0.25rem;
}

.estimatedTotalPanel > .sapUiHLayoutChildWrapper {
  float: right;
}

.btnRecentOrders {
  background-color: #008945;
  /* Dark Green */
  border: none;
  color: #fff;
  padding: 10px 17%;
  font-family: "TPHero" !important;
  cursor: pointer;
}

.quoteBtnPanel {
  float: right;
}

.btnSubmitQuote {
  margin-right: 30px;
  margin-top: 10px;
  color: #fff;
  background-color: #008945;
  border: none;
  padding: 10px 10px;
  font-family: "TPHero" !important;
  cursor: pointer;
}

.btnSaveQuote {
  margin-right: 8px;
  margin-top: 10px;
  color: #fff;
  background-color: #ccc;
  border: none;
  padding: 10px 10px;
  font-family: "TPHero" !important;
  cursor: pointer;
}

#productsTable {
  margin-top: 23px;
  margin-bottom: 5px;
  .sapUiTableHdrTitle {
    color: #3ED35A;
    /* Light Green*/
    font-weight: normal;
    font-size: 18px;
    font-family: "TPHero" !important;
  }
  .sapUiTableRowHdr, .sapUiTableCol, .sapUiTableRowHdr, .sapUiTableColRowHdr, .sapUiTableColHdrCnt, .sapUiTableCnt, .sapUiTableTr > td {
    border: none;
  }
  .sapUiTableColHdrCnt, #productsTable-selall {
    background: #eee;
  }
  .sapUiTableTr > td {
    border-bottom: 1px solid #eee !important;
    height: 38px;
  }
}

.todoInput, .todoListInput {
  padding-right: 0.25rem;
}

.productsTable {
  width: 700px;
  margin-top: 25px;
  font-family: "TPHero" !important;
}

.listContainer {
  background: #fff;
  margin-left: 4px;
}

.productListButtonPanel {
  margin: 10px auto;
  border-radius: 3px;
  width: 100%;
  .btnProducts {
    background: white;
    color: #666666;
    border: none;
    padding: 8px 0px;
    border-top: 3px solid #3ED35A;
    /* green */
    font-family: "TPHero" !important;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
  }
  .btnFavourites {
    background: #eee;
    color: #666666;
    border: none;
    padding: 8px 0px;
    font-family: "TPHero" !important;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
  }
}

.listContainer > .sapMFlexItem {
  &:nth-child(2) {
    width: 85%;
    margin: auto;
    margin-left: 16px;
  }
  &:nth-child(3) {
    margin: auto;
  }
}

.productSearch > .sapMSFF {
  border-color: #ccc;
  border-radius: 4px;
}

.listContainer .productList {
  overflow-y: auto;
  > ul {
    max-height: 428px;
    .productItems {
      width: 94%;
      margin: auto;
      padding-top: 12px;
      padding-left: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
      cursor: default;
      &:last-child {
        border: none;
      }
    }
  }
}

.productItems {
  .btnAddProducts {
    float: right;
    background-color: transparent;
    border: none;
    color: #008AC9;
    /*    blue;*/
    border-radius: 4px;
    cursor: pointer;
    font-family: "TPHero" !important;
    font-size: 12px;
  }
  .parentClassProductName {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .parentClassbtnAdd {
    right: 0;
    position: absolute;
  }
}

.listContainer .totalProductsReturned {
  color: #aaa;
  font-size: 11px;
  font-family: "TPHero" !important;
  display: block;
}

.productListItemDetail {
  .productName {
    font-weight: bold;
    cursor: default;
    font-family: "TPHero" !important;
    font-size: 11px;
    width: 200px;
    color: #666666;
  }
  .productDesc {
    color: #888;
    cursor: default;
    font-family: "TPHero" !important;
    font-size: 11px;
    position: absolute;
  }
}

.rightHeader {
  float: right;
  margin-top: 16px;
}

.headerView {
  background: #fff;
}

.header {
  width: 100%;
  padding-top: 1.5%;
  padding-left: 1.5%;
  > .sapUiHLayoutChildWrapper:nth-child(2) {
    width: 80%;
  }
  .name {
    line-height: 18px;
    width: 78px;
    border-right: 1px solid #666;
  }
  .logout {
    width: 66px;
    margin-left: 13px;
    color: #008AC9 !important;
    cursor: pointer;
  }
}

#productsTable-table .sapUiTableCell {
  padding-top: 10px;
}

.btnConfigure {
  border: none !important;
  background-color: #008AC9 !important;
  color: #fff !important;
  padding: 5px 15px;
  height: 25px;
  margin-top: -4px !important;
  cursor: pointer;
}

.configurableText {
  color: #3ED35A;
  margin-top: 5px;
  margin-left: 14px;
}

.productItems .btnAddProducts:hover {
  text-decoration: underline;
}

.configurablePanel {
  margin-top: 8px;
}

.configurableIcon {
  width: 4px;
  color: #3ED35A;
  font-size: 10px;
}

.estimatedTotalPanel {
  background-color: #eee;
  color: #666666;
  height: 32px;
  width: 100%;
  font-weight: bold;
  font-family: "TPHero" !important;
}

.estimatedTotalTextPanel {
  margin-right: 15px;
  margin-top: 4px;
}

.estimatedTotalText {
  margin-right: 12px;
  font-size: 12px;
  font-family: "TPHero" !important;
}

.estimatedTotalValue {
  margin-right: 4px;
  font-family: "TPHero" !important;
}

.estimatedTotalUnit {
  font-size: 10px;
  font-family: "TPHero" !important;
}

.disclaimerText {
  float: right;
  margin-top: 11px;
  font-size: 12px;
  font-family: "TPHero" !important;
}

.disclaimerTextPanel {
  width: 100%;
  > .sapUiHLayoutChildWrapper:first-child {
    width: 97%;
  }
}

/*.homePage >.sapMFlexItem:first-child{
	width:42%;
}*/

.quoteDetailsFields {
  width: 180px !important;
}

#postingDate #postingDate-icon {
  margin-top: 4px;
  margin-right: 2px;
}

.btnFavorites {
  .sapMBtnDefault {
    border: none;
    background: none;
  }
  .sapMBtnHoverable {
    background: none !important;
  }
  float: right;
}

.btnFavourites > .sapUiIcon {
  display: inline;
}

#productsTable {
  &.sapUiTableTreeIcon, .sapUiTableTreeIcon {
    background-image: none;
  }
  .sapUiTableTreeIconNodeOpen:before {
    font-family: FontAwesome;
    content: "\f078";
  }
  .sapUiTableTreeIconNodeClosed:before {
    font-family: FontAwesome;
    content: "\f077";
  }
}

#productTable .productTableCol {
  font-family: "TPHero" !important;
}

.customerInformationTitle .sapUiCommonsHoriDiv {
  width: 678px !important;
  margin-left: 11px;
  margin-top: 11px;
  border-color: #3ED35A;
  border: 1px solid #3ED35A;
}

#prodSearchTabBar .sapMFlexItem {
  margin-right: 0px;
  width: 47%;
}

.configurablePanel .sapMFlexItem {
  position: absolute;
  top: -13px;
}

#RootView {
  border: 1px solid #ccc;
  height: 100% !important;
}

/****************Temporary styling for favorite items **************************************/

.productItems {
  &:nth-child(2) .btnFavorites .sapMBtnIcon, &:nth-child(10) .btnFavorites .sapMBtnIcon, &:nth-child(19) .btnFavorites .sapMBtnIcon, &:nth-child(31) .btnFavorites .sapMBtnIcon, &:nth-child(46) .btnFavorites .sapMBtnIcon, &:nth-child(50) .btnFavorites .sapMBtnIcon {
    color: #008AC9;
  }
}

/******************************************************/

/******Dialog Css********/

.busyDialog #busyDialog-lbl {
  color: #008945;
  font-family: "TPHero" !important;
}

/**************/

.headerToolbar {
  width: 96%;
  > .sapMBarChild {
    &:first-child {
      width: 83%;
    }
    &:nth-child(2) {
      width: 17%;
    }
  }
}

#ToolBar101 {
  margin-left: 52px;
  padding-left: 0;
}

#Panel101 > .sapMPanelContent > table {
  tbody tr:first-child:after {
    /*font-family: FontAwesome;*/
    content: url('../images/printer1.png');
    position: absolute;
    z-index: 100000;
    margin-left: 6px;
  }
  colgroup col {
    &:nth-child(3) {
      width: 50px !important;
    }
    &:nth-child(4) {
      width: 90px !important;
    }
  }
}